<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plan - Blanca Lilia</title>
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_govert_plan.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header>
      <!-- Banner con efecto de fondo -->
      <header class="banner-container">
        <img src="{{ url_for('static', filename = 'images/banner/banner_blanca_lilia.jpg') }}" alt="Banner" class="banner-image" />
        <div class="banner-overlay"></div>
      </header>

      <!-- Foto circular del candidato -->
      <figure class="candidato-container">
        <img src="{{ url_for('static', filename = 'images/photos/foto_blanca_lilia_.png') }}" alt="Foto del candidato" class="candidato-image" />
      </figure>

      <!-- Enlaces a redes sociales -->
      <nav class="redes-sociales">
        <a class="redes-ext" href="mailto:correo@example.com" target="_blank">
          <svg class="icon icon-tabler icon-tabler-mail-filled" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" stroke-width="0" fill="currentColor"></path>
            <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" stroke-width="0" fill="currentColor"></path>
          </svg>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100009193286295&sk=about" target="_blank">
          <svg class="icon icon-tabler icon-tabler-brand-facebook-filled" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" stroke-width="0" fill="currentColor"></path>
          </svg>
        </a>
        <a class="redes-ext" href="https://api.whatsapp.com/send?phone=+573118997279" target="_blank">
          <svg class="icon icon-tabler icon-tabler-brand-whatsapp" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
            <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"></path>
          </svg>
        </a>
      </nav>
    </header>

    <!-- El contenido del plan de gobierno irá aquí -->

    <main>
      <aside class="publicidad">
        <!-- Espacio para la publicidad -->
        <img src="ruta_de_la_publicidad.jpg" alt="Publicidad" />
      </aside>


      <article class="informacion">
        <!-- Contenido de la sección -->
        <h1 class="title-page">PLAN DE GOBIERNO <span>BLANCA LILIA GONZÁLEZ </span></h1>

        
        <!--  

          <div class="card-ia">
            <p class="text-card-icon">🚀</p>
            <p class="text-card-description">
              <span class="text-Highlight-style">¡Resumen generado con inteligencia artificial!</span>
              Edison Beltrán Sarmiento presenta un ambicioso plan de desarrollo para el municipio de El Rosal, dividido en tres ejes fundamentales: Desarrollo Social, Desarrollo Económico y Desarrollo Territorial, con un enfoque clave en la transparencia y la participación ciudadana.
              
              En el ámbito del Desarrollo Social, su propuesta se enfoca en mejorar la calidad de vida de los habitantes de El Rosal. Esto incluye programas para el fortalecimiento de la identidad cultural, el fomento de actividades artísticas y culturales, la atención a la tercera edad y la promoción de programas de juventud. También se destacan iniciativas para apoyar a personas con discapacidad y promover la equidad de género en la comunidad.
              
              En el eje del Desarrollo Económico, se busca impulsar la actividad empresarial y emprendedora en El Rosal. Se propone la creación de un centro de emprendimiento, así como el fomento de proyectos productivos y la asociatividad comercial. También se busca fortalecer la agricultura local y el turismo como fuentes de ingresos.
              
              Por último, en el Desarrollo Territorial, el plan se enfoca en la sostenibilidad y la preservación de la identidad del municipio. Se promueve la protección de espacios naturales, la generación de energías limpias y la regulación de actividades mineras que afecten los recursos hídricos. También se aborda la vivienda, la movilidad y la planificación territorial.
              
              En todos estos ejes, se enfatiza la importancia de la transparencia en la gestión pública y se promueve activamente la participación ciudadana como un pilar fundamental para el desarrollo de El Rosal.
            </p>
          </div>
          
          -->
          <iframe class="visor-pdf" src="{{ url_for('static', filename = 'pdf/plan_blanca_lilia.pdf') }}"></iframe>
            <!--

              <embed class="visor-pdf" src="{{ url_for('static', filename = 'pdf/plan_blanca_lilia.pdf') }}" type="application/pdf" />
            -->
      </article>


      <aside class="menu-navegacion">
        <ul class="menu">
          <li class="init">
            <a href="/">Inicio</a>
          </li>
          <li class="link-plan">
            <a href="government_plan_genaldo">Genaldo Hernández</a>
          </li>
          <li class="link-plan">
            <a href="government_plan_edison">Edison Beltran</a>
          </li>
          <!--
            <li class="link-plan">
              <a href="government_plan_blanca_lilia">Blanca Lilia</a>
            </li>
          -->
          <li class="link-plan">
            <a href="government_plan_mikan">Jorge Mikan</a>
          </li>
          <li class="link-plan">
            <a href="government_plan_juan_andres">Juan Andres</a>
          </li>
        </ul>
      </aside>


    </main>

    <!-- El pie de página (footer) irá aquí -->

    <script src="{{ url_for('static', filename = 'js/scripts_govert_plan.js') }}"></script>
  </body>
</html>
