

    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad y Tratamiento de Datos</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_privacy.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8672714912901309"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="card">
        <img src="{{ url_for('static', filename='images/imagotipo_1.svg') }}" alt="Logo de tu sitio web" class="logo">
        <a href="/" class="back-button">Volver al inicio</a>

        <h1 class="title">Política de Privacidad y Tratamiento de Datos</h1>
        <p class="date"><strong>Fecha de entrada en vigencia:</strong> 01/09/2023</p>

        <section class="section">
            <h2 class="section-title">1. Información del Responsable del Tratamiento de Datos</h2>
            <p><strong>Nombre de la Empresa:</strong> MiCandidato.org</p>
            <p><strong>Domicilio:</strong> El Rosal</p>
            <p><strong>Correo Electrónico de Contacto:</strong> soporte@micandidato.org</p>
            <p><strong>Sitio Web:</strong> micandidato.org</p>
        </section>

        <section class="section">
            <h2 class="section-title">2. Introducción</h2>
            <p>Esta política de privacidad y tratamiento de datos (en adelante, "la Política") describe cómo MiCandidato.org (en adelante, "nosotros", "nuestra", "la Empresa") recopila, utiliza y protege la información personal que recopilamos de nuestros usuarios (en adelante, "usted", "su"). Valoramos su privacidad y nos comprometemos a proteger sus datos personales de acuerdo con las leyes y regulaciones aplicables.</p>
        </section>

        <section class="section">
            <h2 class="section-title">3. Datos Personales Recopilados</h2>
            <p>Podemos recopilar y procesar los siguientes datos personales:</p>
            <ul class="list">
                <li>Información de contacto: dirección de correo electrónico.</li>
                <li>Información demográfica: ubicación geográfica y preferencias.</li>
                <li>Información de interacción: podemos recopilar información sobre cómo interactúa con nuestro sitio web, productos o servicios, incluidos los registros de acceso, las páginas visitadas y las acciones realizadas.</li>
            </ul>
        </section>

        <section class="section">
            <h2 class="section-title">4. Uso de Datos Personales</h2>
            <p>Utilizamos la información personal que recopilamos para los siguientes fines:</p>
            <ul class="list">
                <li>Para proporcionarle los productos o servicios que ha solicitado.</li>
                <li>Para mejorar y personalizar su experiencia como usuario.</li>
                <li>Para enviarle comunicaciones promocionales y boletines informativos, si ha dado su consentimiento para recibirlos.</li>
                <li>Para responder a sus consultas, preguntas o solicitudes de servicio al cliente.</li>
                <li>Para cumplir con nuestras obligaciones legales y regulatorias.</li>
            </ul>
        </section>
        
        <section class="section">
            <h2 class="section-title">5. Compartir Datos Personales</h2>
            <p>No compartiremos su información personal con terceros a menos que tengamos su consentimiento o estemos legalmente obligados a hacerlo.</p>
        </section>
        
        <section class="section">
            <h2 class="section-title">6. Seguridad de los Datos Personales</h2>
            <p>Tomamos medidas de seguridad para proteger sus datos personales contra pérdida, uso indebido y acceso no autorizado. Sin embargo, tenga en cuenta que ninguna transmisión por internet o sistema de almacenamiento es completamente seguro.</p>
        </section>
        
        <section class="section">
            <h2 class="section-title">7. Sus Derechos</h2>
            <p>Usted tiene derecho a:</p>
            <ul class="list">
                <li>Solicitar acceso a sus datos personales.</li>
                <li>Solicitar la corrección de sus datos personales si son inexactos.</li>
                <li>Solicitar la eliminación de sus datos personales.</li>
                <li>Oponerse al procesamiento de sus datos personales.</li>
                <li>Retirar su consentimiento en cualquier momento.</li>
            </ul>
            <p>Para ejercer cualquiera de estos derechos o si tiene alguna pregunta sobre esta Política, contáctenos a través de la dirección de correo electrónico proporcionada en la sección "Información del Responsable del Tratamiento de Datos".</p>
        </section>
        
        <section class="section">
            <h2 class="section-title">8. Cambios en la Política de Privacidad</h2>
            <p>Podemos actualizar esta Política ocasionalmente para reflejar cambios en nuestras prácticas de manejo de datos. La fecha de entrada en vigencia se indicará en la parte superior de la Política.</p>
        </section>
        
        <section class="section">
            <h2 class="section-title">9. Consentimiento</h2>
            <p>Al utilizar nuestro sitio web o proporcionar sus datos personales, usted acepta los términos y condiciones de esta Política de Privacidad y Tratamiento de Datos.</p>
        </section>
        
        <p>Esta Política de Privacidad y Tratamiento de Datos es un documento importante que debe ser revisado y comprendido por nuestros usuarios. Asegúrese de leerlo detenidamente y póngase en contacto con nosotros si tiene alguna pregunta o inquietud.</p>
        
        <p>MiCandidato.org se reserva el derecho de modificar esta Política en cualquier momento.</p>
        
        <a href="/" class="back-button">Volver al inicio</a>


    </div>
</body>
</html>
