<!DOCTYPE html>

<head>
  <title>Elección Municipal</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="icon" href="/static/favicon.png" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles_voting.css') }}" />
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet" />
</head>

<body>
  <header id="header-page">
    <section id="section-header">
      <a href="/"><img class="logo-header" src="{{ url_for('static', filename = 'images/imagotipo.svg') }}" alt="imagoipo" /></a>

      <nav class="nav-menu">
        <ul>
          <li>
            <a href="/" class="li-hover">Salir</a>
          </li>
        </ul>
      </nav>
    </section>
  </header>

  <main id="main-voting">
    <div class="fg-voting">
      <!--  -->
      <div id="voting-card" class="voting-card">
        <header class="container-header">
          <p>www.micandidato.com</p>
          <div class="date">
            <h4>29</h4>
            <div>
              <h5>OCTUBRE</h5>
              <h6>•2023•</h6>
            </div>
          </div>
        </header>

        <section class="container-title">
          <h1>Encuesta a la alcaldía</h1>
          <h2>El Rosal - Cundinamarca</h2>
          <h3>Seleccione un candidato</h3>
        </section>
        <section class="container-candidates">
          <div class="card-candidate">
            
            <img class="candidate-img" src="{{ url_for('static', filename = 'images/photos-voting/foto_edison_.png') }}" alt="Foto del candidato Edison Beltran" />
            <figcaption class="name-candidate">Edison</figcaption>
            <figcaption class="sub-name-candidate">Beltrán Sarmiento</figcaption>
            <img class="politic-party-img" src="{{ url_for('static', filename = 'images/photos-voting/pacto_historico.png') }}" alt="Foto del partido candidato Edison Beltran" />
            <div class="btns">
              <button class="cancel-button">Cancelar</button>
              <button class="vote-button" data-candidate-id="1" data-candidate-name="Edison Beltran">Votar</button>
            </div>
            <!--         
              <div class="overlay"></div>
                 -->
          </div>
          <div class="card-candidate">
            <img class="candidate-img" src="{{ url_for('static', filename = 'images/photos-voting/foto_juan_andres_.png') }}" alt="Foto del candidato Juan Andres Campos" />
            <figcaption class="name-candidate">Juan</figcaption>
            <figcaption class="sub-name-candidate">Andrés Campos</figcaption>
            <img class="politic-party-img" src="{{ url_for('static', filename = 'images/photos-voting/cambio_radical.png') }}" alt="Foto del partido candidato Juan Andres Campos" />
            <div class="btns">
              <button class="cancel-button">Cancelar</button>
              <button class="vote-button" data-candidate-id="2" data-candidate-name="Juan Andrés">Votar</button>
            </div>
          </div>

          <div class="card-candidate">
            <img class="candidate-img" src="{{ url_for('static', filename = 'images/photos-voting/foto_genaldo_.png') }}" alt="Foto del candidato Genaldo Hernández" />
            <figcaption class="name-candidate">Genaldo</figcaption>
            <figcaption class="sub-name-candidate">Hernández Bello</figcaption>
            <img class="politic-party-img" src="{{ url_for('static', filename = 'images/photos-voting/partido_liberal.png') }}" alt="Foto del partido candidato Genaldo Hernández" />
            <div class="btns">
              <button class="cancel-button">Cancelar</button>
              <button class="vote-button" data-candidate-id="3" data-candidate-name="Genaldo Hernández">Votar </button>
            </div>
          </div>
          <div class="card-candidate">
            <img class="candidate-img" src="{{ url_for('static', filename = 'images/photos-voting/foto_mikan_.png') }}" alt="Foto del candidato Jorge Mikan" />
            <figcaption class="name-candidate">Jorge</figcaption>
            <figcaption class="sub-name-candidate">Mikan Salgado</figcaption>
            <img class="politic-party-img" src="{{ url_for('static', filename = 'images/photos-voting/partido_u.png') }}" alt="Foto del partido candidato Jorge Mikan" />
            <div class="btns">
              <button class="cancel-button">Cancelar</button>
              <button class="vote-button" data-candidate-id="4" data-candidate-name="Jorge Mikan">Votar</button>
            </div>
          </div>
          <div class="card-candidate">
            <img class="candidate-img" src="{{ url_for('static', filename = 'images/photos-voting/foto_blanca_lilia_.png') }}" alt="Foto del candidato Blanca Lilia Gonzalez" />
            <figcaption class="name-candidate">Blanca</figcaption>
            <figcaption class="sub-name-candidate">Lilia González</figcaption>
            <img class="politic-party-img" src="{{ url_for('static', filename = 'images/photos-voting/partido_conservador.png') }}" alt="Foto del partido candidato Blanca Lilia Gonzalez" />
            <div class="btns">
              <button class="cancel-button">Cancelar</button>
              <button class="vote-button" data-candidate-id="5" data-candidate-name="Blanca Lilia Gonzalez">Votar</button>
            </div>
          </div>
          <div class="card-candidate blank-vote">
            <p>VOTO EN BLANCO</p>
            <div class="btns">
              <button class="cancel-button">Cancelar</button>
              <button class="vote-button" data-candidate-id="6" data-candidate-name="Voto en blanco">Votar</button>
            </div>
          </div>
        </section>
        <h3 class="loanding-text" texto-cargando='Cargando...'>
          Cargando...
        </h3>
      </div>
    </div>
  </main>

  <script type="text/javascript">
    document.addEventListener('click', function (event) {
      const x = event.clientX / window.innerWidth
      const y = event.clientY / window.innerHeight
      confetti({
        origin: { x, y }
      })
    })
    confetti()
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename = 'js/scripts_voting.js') }}"></script>
</body>
