* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #323639;
    /*animacion del background */
    background-image: linear-gradient(111deg, #4d5053 0%, #323639 50%, #25292c 100%);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.government_plan {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/*******************************************************************/
.informacion {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.visor-pdf {
    width: 100%;
    height: 0%;
    transition: height 0.0s;
}

.visor-pdf.mostrado {
    height: 100%; 
}
/*******************************************************************/
.menu-navegacion {
    width: 300px;
    padding: 15px;
    padding-top: 30px;
    margin: 0;
    background-color: #323639;
}


.menu-navegacion header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.logo-header {
    height: 44px;
    cursor: pointer;
}

.candidato-image {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    object-fit: cover;
    border: 1px solid #9999994b;
}
.candidato-image::before {
    background-color: #147032;
}



.title-page {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: antiquewhite;
    background-image: linear-gradient(111deg, #000 0%, #fff 50%, #000 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;

}


.menu, .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-menu {
    margin-left: 10px;
    border-left: 2px solid #6f4545;
    padding-left: 5px;
    display: none;
}



.link-plan svg{
    width: 20px;
    height: 20px;
}

.link-plan {
    font-size: 0.7rem;
    font-weight: bold;
    color: #9c9c9c;
    border-radius: 5px; 
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.link-plan a {
    color: #9c9c9c;
    text-decoration: none;
}
.link-plan a:hover, .link-plan:hover {    
    color: #ad8b8b; 
    background-color: #2e2e2e;
    cursor: pointer;
}
.selected-plan{
    color: #ffffff;
    font-weight: 300;
    background-color: #8d3b3e;
    
}






.link-eje {
    font-size: 0.7rem;
    font-weight: bold;
    font-style: italic;
    color: #9c9c9c;
    border-radius: 5px; 
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
    /*
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}
.link-eje a {
    color: #9c9c9c;
    text-decoration: none;
}
.link-eje a:hover, .link-eje:hover {    
    color: #619271; 
    background-color: #2e2e2e;
    box-shadow: 4 4 15px #888888b0;
    cursor: pointer;
}
.selected-eje{
    color: #ffffff;
    font-weight: 300;
    background-color: #3f775e;    

}


.menu a{
    text-decoration: none;
}


/*
.banner-container {
    position: relative;
    overflow: hidden;
    height: 40vh;
}

.banner-image {
    width: 100%;
    height: 100%;
    filter: blur(0px);
    object-fit: cover;
}

.view-image {
    width: 100%;
}






.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 23, 68, 0.6);
}

.candidato-container {
    position: relative;
    margin-top: -200px;
    text-align: center;
}



.redes-sociales {
    text-align: center;
    margin-top: 20px;
}

.redes-ext {

    margin-bottom: 20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 1%;
}

.redes-sociales svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
}





.menu-navegacion {
    width: 15%;
    padding: 20px;
    margin: 0;

}

.menu {
    margin: 0;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    list-style: none;
    background-color: #f0f0f000;
    border: 2px solid #adadad;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0px 1000px;
}

@keyframes adjust-header {
    to {
        border: 2px solid #adadad00;
        background-color: #f0f0f0;
        box-shadow: 0 0 15px #00000073;
        margin-top: 100vh;
    }
}




.init,
.link-plan {
    margin-bottom: 10px;
    text-align: center;
}

.init {
    margin-bottom: 20px;
}

.menu-navegacion li a {
    text-decoration: none;
}


.init a {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 5px;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    background-image: linear-gradient(111deg, #073d3d 0%, #6b9494 100%);
    top: 10%;
}



.sets-projects img {
    margin: 0px;
    margin: auto;
    width: calc(100% - 20px);
    border-radius: 15px;
    transition: scale 0.8s ease;
    cursor: pointer;

    view-timeline-name: --revealing-image;
    animation-name: showImg;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;
    animation-range: entry 25% cover 60%;
}


@keyframes showImg {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}



















.card-ia {
    background-color: #dddddd;
    margin: 20px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
}

.text-Highlight-style {
    font-size: 25px;
    color: rgb(212, 76, 13);
    font-weight: 600;
    font-style: oblique;
    text-decoration: underline;

}

.text-card-icon {
    font-size: 40px;
    margin: 5px;
}




.text-card-description {
    font-size: 24px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

















.title-section {
    font-size: 35px;
    font-weight: 900;
    color: #073d3d;
    border-left: 3px solid #00e1ff;
    padding-left: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.sub-title {
    font-size: 25px;
    font-weight: 800;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 5px;
    padding: 10px 20px;
    width: fit-content;
    clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
    border-radius: 10px;
    background-image: linear-gradient(111deg, #073d3d 0%, #6b9494 100%);
}

.sub-title-intro {

    font-size: 45px;
    font-weight: 900;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 5px;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    background-image: linear-gradient(111deg, #073d3d11 0%, #6b949411 100%);

}

.text-section {
    font-size: 22px;
    color: rgb(0, 0, 0);
    line-height: 2;
}


.text-Highlight-light {
    font-size: 25px;
    color: rgb(6, 33, 63);
    font-weight: 600;
    font-style: oblique;
    text-decoration: underline;
}










.text-Highlight-heavy {
    font-size: 25px;
    color: rgb(5, 5, 5);
    font-weight: 800;
}



.mx-10 {
    margin-left: 40px;
    margin-right: 40px;
}






.item-ol {
    margin-bottom: 15px;
}





.plan-gobierno {
    background-color: #b4ddcc;
    border-radius: 30px;
    color: rgb(73, 73, 73);
    text-align: center;
    padding: 15px;
    width: fit-content;
    margin: auto;
    margin-top: 70px;
    box-shadow: 4px 4px 30px #073d3d4b;

}

.plan-gobierno p {
    margin: 5px;
    font-size: 25px;
    font-weight: 900;
}




.publicidad {
    float: left;
    width: 15%;
    padding: 20px;
}




@media (max-width: 1000px) {

    main {
        flex-direction: column;
    }

    .title-page {
        font-size: 40px;
    }
    .publicidad {
        width: 100%;
        padding: 0;
    }
    .informacion {
        width: 100%;
        padding: 0;
    }    
    .menu-navegacion {
        width: 100%;
        padding: 0;
        

    }
    .menu {
        margin: 30px;
    }
    .visor-pdf {
        height: 100vh;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
    
@keyframes adjust-header {
    to {
        margin-top: 100px;
    }
}
}
@media (max-width: 500px) {

    main {
        flex-direction: column;
    }

    .title-page {
        font-size: 50px;
    }
    .candidato-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .informacion {
        width: 100%;
    }    
    .menu-navegacion {
        width: 100%;
    }
    element.style {
    }

}

*/

.link-social{
    color: #ffffff;    
    text-decoration: underline;
    
}
@media (max-width: 500px) {

    .government_plan {
        flex-direction: column;
    }
    
    .menu-navegacion {
        width: 100%;
        padding: 15px;
    }
    .menu-navegacion header{
        margin-bottom: 15px;
    }
    .title-page {

        margin-bottom: 15px;
    }
}