* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 20px;
}


@media (max-width: 700px) {
    html {
        font-size: 15px;
    }
}



body {
    font-family: 'Nunito Sans', sans-serif;
}

#main-page {
    background-color: #fffaf4;
}

/*------------------------------------------------------------              >>>>>          header           <<<<<<*/
#header-page {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#section-header {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #242524bd;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px 2px #00000073;

}

.logo-header {
    height: 50px;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-left: 30px;
    width: max-content;
}

.nav-menu a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 4px solid #2c383800;
    transition: color 0.3s ease, border 0.3s ease;
}

.nav-menu li:hover .li-hover {
    text-shadow: 0px 0px 10px #000000;
    border-color: #ae2430;
    color: #ffffff;
    color: #50996f;
    border-bottom-color: #ae2430;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}





@media (max-width: 700px) {
    .logo-header {
        margin-top: 20px;
        margin-bottom: 10px;
        height: 30px;
    }
}












/*------------------------------------------------------------              >>>>>          section-home           <<<<<<*/
#section-dashboard {
    z-index: 10;
    min-height: 100vh;
    background: rgba(218, 218, 218, 0.2) fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url("../images/banda_marcial.jpg");
    background-color: aqua;
}


.fg-section {
    background-color: #000000ee;
    background-color: #00000055;
    background: radial-gradient(circle at 5% 5%, #212121e0 50%, #212121f6 60%);
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.area-section {
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;
    max-width: 1200px;
}


@media (max-width: 700px) {
    .area-section {
        margin-top: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }
}






.section-title {
    width: 100%;
    text-align: center;
    color: antiquewhite;
    font-size: 2.0rem;
    font-weight: 500;
}

.section-description {
    width: 100%;
    text-align: center;
    color: antiquewhite;
    font-size: 1.0rem;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 50px;

    & strong {
        color: #995e5e;
        font-weight: 900;
    }
}

.container-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;

}


.description-chart{
    display: flex;
}
.description-chart,
.description-card {
    width: 100%;
    text-align: center;
    color: antiquewhite;
    font-size: 1.0rem;
    font-weight: 200;
    padding: 0 50px;
    align-items: center;
}

.description-card span{
    background-color: #7e0808;
    width: 100%;
    color: #ffffff;
    font-size: 1.0rem;
    font-weight: 500;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


@media (max-width: 700px) {
    .container-result {
        margin-bottom: 50px;
    }
}





.container-chart1 {
    max-width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: 0.05fr 0.95fr;
    grid-template-rows: 0.8fr 0.2fr;

    section {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 700px) {
    .container-chart1 {
        height: 300px;    
    }
}


.area1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & h6 {
        writing-mode: vertical-rl;
        /* Rota el texto 90 grados */
        transform: rotate(180deg);
        /* Ajusta la rotación del texto */
        white-space: nowrap;
        color: antiquewhite;
        font-size: 1.0rem;
        font-weight: 100;
    }
}

.area2 {
    border-bottom: 2px solid #adadad;
    border-left: 2px solid #adadad;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;

    .bar {
        width: 12%;
        border-radius: 10px;
    }

    .percent {
        transform: translateY(-100%);
        color: antiquewhite;
        font-size: 1.2rem;
        text-align: center;
    }

    .percent .percent {
        margin-left: 2px;
        font-size: 0.8rem;
        color: #adadad;

    }


}

.area3 {
    color: #b98e87;
}

.area4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .candadate {
        width: 12%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        & img {
            width: 100%;
            height: 50%;
            border-radius: 5%;
            object-fit: cover;
        }

        & figcaption {
            font-size: 0.8rem;
            color: antiquewhite;
            text-align: center;
        }
    }
}

.text-blank-vote {
    font-size: 0.8rem;
}


.bar {
    height: 0;
    z-index: 0;
}

.bar-1 {
    animation: bar-1 1.25s ease 1.5s forwards;
}

.bar-2 {
    animation: bar-2 1.2s ease 1.4s forwards;
}

.bar-3 {
    animation: bar-3 1.15s ease 1.3s forwards;
}

.bar-4 {
    animation: bar-4 1.1s ease 1.2s forwards;
}

.bar-5 {
    animation: bar-5 1.05s ease 1.1s forwards;
}

.bar-6 {
    animation: bar-6 1s ease 1s forwards;
}

@keyframes bar-1 {
    to {
        height: 68%;
        background-color: #dfc963;
        z-index: 0;
        
    }
}

@keyframes bar-2 {
    to {
        height: 62%;
        background-color: #b98e87;
        z-index: 0;

    }
}

@keyframes bar-3 {
    to {
        height: 28%;
        background-color: #67b56b;
        z-index: 0;

    }
}

@keyframes bar-4 {
    to {
        height: 24%;
        background-color: #665f79;
        z-index: 0;
    }
}

@keyframes bar-5 {
    0% {
        height: 0;
    }

    100% {
        height: 16%;
        background-color: #67cbb7;
        z-index: 0;

    }
}

@keyframes bar-6 {
    to {
        height: 2%;
        background-color: #ffffff;
        z-index: 0;

    }
}

.bar:hover {
    background-color: #ffffff;
    z-index: 1;
}

/* Asegúrate de que los elementos con el atributo "data-tooltip" tengan position: relative */
.bar[data-tooltip] {
    position: relative;
    cursor: pointer;
    /* Esto cambia el cursor al puntero al hacer hover */
}

/* Estilo del tooltip */
.bar[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 30px);
    /* Coloca el tooltip encima del elemento */
    left: 50%;
    /* Centra horizontalmente el tooltip */
    transform: translateX(-50%);
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.582);
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s, visibility 0.2s;
}

/* Oculta el tooltip por defecto */
.bar[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.0s, visibility 0.0s;
}






.container-chart2 {

    max-width: 800px;
    height: 500px;

}





.container-cards {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    background-color: #a1a1a11f;
    border-radius: 8px;
    border: 5px solid #93c8b928;
    backdrop-filter: blur(5px);
    padding: 20px;
    max-width: 200px;

    & h5 {
        font-size: 3.0rem;
        color: #ffffff;
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 900;
    }
    & .color-y{
        background-image: linear-gradient(111deg, #654c4c 0%, #c0b20d 100%);
        -webkit-background-clip: text;
        color: transparent;
        text-transform: uppercase;
        
    }
    & .color-r{
        background-image: linear-gradient(111deg, #aa5d1e 0%, #c0280d 100%);
        -webkit-background-clip: text;
        color: transparent;
        text-transform: uppercase;
        
    }

    & p {
        font-size: 0.9rem;
        color: #bbbbbb;
        text-align: center;
    }
    & img{
        width: 20px;
        position: absolute;
  bottom: 5px;
  right: 5px;
    }
}


/*responsive para 1100px o menor*/
@media (max-width: 1100px) {
    .container-result {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-chart {
        margin-bottom: 50px;
    }

    .description-chart,
    .description-card {
        padding: 0;
    }

    /*
    .container-chart1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .area1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        & h6 {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            white-space: nowrap;
            color: antiquewhite;
            font-size: 1.0rem;
            font-weight: 100;
        }
    }

    .area2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        border-bottom: 2px solid #adadad;
        border-left: 2px solid #adadad;
        .bar {
            width: 12%;
            border-radius: 10px;
        }

        .percent {
            transform: translateY(0%);
            color: antiquewhite;
            font-size: 1.2rem;
            text-align: center;
        }

        .percent .percent {
            margin-left: 2px;
            font-size: 0.8rem;
            color: #adadad;

        }
    }

    .area3 {
        color: #b98e87;
    }

    .area4 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        .candadate {
            width: 12%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }}
    */
}